<!-- Duoshuo Share Buttons -->
<div class="ds-share flat" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-images="{{ post.image }}" data-content="{{ post.description }}" data-url="{{ post.url | prepend: site.url }}">
    <div class="ds-share-inline alignleft">
      <ul  class="ds-share-icons-16">

        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">&nbsp;</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">&nbsp;</a></li>
        <li><a class="ds-twitter" href="javascript:void(0);" data-service="twitter">&nbsp;</a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">&nbsp;</a></li>
        <li><a class="ds-douban" href="javascript:void(0);" data-service="douban">&nbsp;</a></li>

      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"flinhong"};
    (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
 </div>
<!-- End Duoshuo Share Buttons -->
