<!-- Footer -->
<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col col_3_of_12">
      <!-- Widget Text widget -->
      <div class="widget">
        <div class="widget_title"><h3>Bloginfo</h3></div>
        <p>{{ site.description }}</p>
      </div><!-- End Widget text widget -->
      <!-- Widget Social widget -->
    </div>
    <div class="col col_3_of_12">
      {% include recentsidebar.html %}
    </div>
    <div class="col col_3_of_12">
      <div class="widget">
        <div class="widget_title"><h3>Socialize</h3></div>
        <div class="tb_widget_socialize clearfix">
          <a href="http://weibo.com/vaeconan" target="_blank" class="icon google">
            <div class="symbol"><i class="fa fa-weibo"></i></div>
            <div class="text"><p>微博</p><p>@若晨星</p></div>
          </a>
        </div>
      </div><!-- End Widget Social widget -->
    </div>
    <div class="col col_3_of_12">
      <div class="widget">
        <div class="widget_title"><h3>Links</h3></div>
        <div class="tb_widget_categories">
          <ul>
            <li><a href="https://github.com/ruochenxing" target="_blank">GitHub</a> <i class="fa"></i></li>
            <li><a href="http://www.zhihu.com/people/ruo-chen-xing" target="_blank">知乎</a> <i class="fa"></i></li>
            <li><a href="http://my.oschina.net/aptx4869" target="_blank">开源中国</a> <i class="fa"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</footer><!-- End Footer -->
<a href="#top" id="return-to-top"><i class="fa fa-chevron-up"></i></a>