<!-- Footer -->
<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col col_3_of_12">
      <!-- Widget Text widget -->
      <div class="widget">
        <div class="widget_title"><h3>Bloginfo</h3></div>
        <p>{{ site.description }}</p>
      </div>
      <!-- End Widget text widget -->
    </div>
    <div class="col col_3_of_12">
      {% include recentsidebar.html %}
    </div>
    <div class="col col_3_of_12">
      {% include social.html %}
    </div>
    <div class="col col_3_of_12">
      {% include friendlylinks.html %}
    </div>
  </div>
</div>
</footer><!-- End Footer -->
<a href="#top" id="return-to-top"><i class="fa fa-chevron-up"></i></a>