<!-- Friendly Links -->
<div class="widget">
  <div class="widget_title"><h3>Friendly Links</h3></div>
  <div class="tb_widget_categories">
    <ul>
      <li><a href="https://github.com/ruochenxing" target="_blank">GitHub</a> <i class="fa"></i></li>
      <li><a href="http://www.zhihu.com/people/ruo-chen-xing" target="_blank">知乎</a> <i class="fa"></i></li>
      <li><a href="http://my.oschina.net/aptx4869" target="_blank">开源中国</a> <i class="fa"></i></li>
    </ul>
  </div>
</div>
<!-- End Friendly Links  -->