<!-- Scripts -->
<script type="text/javascript" src="/js/jqueryscript.min.js"></script>
<script type="text/javascript" src="/js/jqueryuiscript.min.js"></script>
<script type="text/javascript" src="/js/easing.min.js"></script>
<script type="text/javascript" src="/js/smoothscroll.min.js"></script>
<script type="text/javascript" src="/js/magnific.min.js"></script>
<script type="text/javascript" src="/js/bxslider.min.js"></script>
<script type="text/javascript" src="/js/fitvids.min.js"></script>
<script type="text/javascript" src="/js/viewportchecker.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>  
