<!-- Baidu Share-->
<div class="widget">
<div class="widget_title"><h3>Share this post</h3></div>
<div class="tb_widget_weibo clearfix">
  <div class="bdsharebuttonbox alignright" data-tag="share_1">
  	<a class="bds_tsina" data-cmd="tsina"></a>
    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
  	<a class="bds_douban" data-cmd="douban"></a>
    <a class="bds_weixin" data-cmd="weixin"></a>
    <a class="bds_fbook" data-cmd="fbook"></a>
    <a class="bds_twi" data-cmd="twi"></a>
    <a class="bds_evernotecn" data-cmd="evernotecn"></a>
  	<a class="bds_more" data-cmd="more">更多</a>
  	<a class="bds_count" data-cmd="count"></a>
  </div>
  <script>
  	window._bd_share_config = {
  		common : {
  			bdText : '{{ page.title }}',
  			bdDesc : '{{ page.description }}',
  			bdUrl : '{{ page.url | prepend: site.url }}',
  			bdPic : '{{ page.image }}'
  		},
  		share : [{
  			"bdSize" : 16
  		}]
  	}
  	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
  </script>
</div>
</div>
