<!-- Baidu Share-->
<div class="widget">
<div class="widget_title"><h3>Share this post</h3></div>
<div class="tb_widget_weibo clearfix">
  <!-- Duoshuo Share Buttons -->
  <div class="ds-share flat" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-images="{{ page.image }}" data-content="{{ page.description }}" data-url="{{ page.url | prepend: site.url }}">
      <div class="ds-share-inline alignleft">
        <ul  class="ds-share-icons-16">

          <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
          <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">新浪微博</a></li>
          <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
          <li><a class="ds-twitter" href="javascript:void(0);" data-service="twitter">Twitter</a></li>
          <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
          <li><a class="ds-douban" href="javascript:void(0);" data-service="douban">豆瓣网</a></li>
          <li> <a class="ds-facebook" href="javascript:void(0);" data-service="facebook">Facebook</a></li>

        </ul>
        <div class="ds-share-icons-more">
        </div>
      </div>
   </div>
  <!-- End Duoshuo Share Buttons -->

  <!-- Baidu share buttons -->
  <div class="bdsharebuttonbox alignright" data-tag="share_1">
  	<a class="bds_tsina" data-cmd="tsina"></a>
    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
  	<a class="bds_douban" data-cmd="douban"></a>
    <a class="bds_weixin" data-cmd="weixin"></a>
    <a class="bds_fbook" data-cmd="fbook"></a>
    <a class="bds_twi" data-cmd="twi"></a>
    <a class="bds_evernotecn" data-cmd="evernotecn"></a>
  	<a class="bds_more" data-cmd="more">更多</a>
  	<a class="bds_count" data-cmd="count"></a>
  </div>
  <script>
  	window._bd_share_config = {
  		common : {
  			bdText : '{{ page.title }}',
  			bdDesc : '{{ page.description }}',
  			bdUrl : '{{ page.url | prepend: site.url }}',
  			bdPic : '{{ page.image }}'
  		},
  		share : [{
  			"bdSize" : 16
  		}]
  	}
  	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
  </script>
  <!-- End Baidu Share Buttons -->

</div>
</div>
