<!-- Widget timeline -->
<div class="widget">
  <div class="widget_title"><h3>Timeline</h3></div>
  <div class="tb_widget_timeline clearfix">
    {% for post in site.posts offset:3 limit:7 %}
      <!-- Article -->
      <article>
        <span class="date">{{ post.date | date: "%m/%d/%Y" }}</span>
        <span class="time">{{ site.author }}</span>
        <div class="timeline_content">
          <i class="fa fa-clock-o" jQuery></i>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
      </article><!-- End Article -->
    {% endfor %}
  </div>
</div><!-- End Widget timeline -->
<div class="widget">
  <div class="widget_title"><h3>Links</h3></div>
  <div class="tb_widget_categories">
    <ul>
      <li><a href="https://github.com/ruochenxing" target="_blank">GitHub</a> <i class="fa fa-github-square"></i></li>
      <li><a href="http://www.zhihu.com/people/ruo-chen-xing" target="_blank">知乎</a> <i class="fa"></i></li>
      <li><a href="http://my.oschina.net/aptx4869" target="_blank">开源中国</a> <i class="fa"></i></li>
    </ul>
  </div>
</div>
