<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M6JR9L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M6JR9L');</script>
    <!-- End Google Tag Manager -->
    <!-- Wrapper -->
    <div id="wrapper" class="wide">
      {% include header.html %}

      <!-- Section -->
      <section>
        <div class="container"><!-- container -->
          <div class="row"><!--  row -->
            <!-- Main content -->
            <div class="col col_9_of_12">
              {{ content }}
            </div><!-- Main content End -->
            {% include indexsidebar.html %}
          </div><!-- end row -->
        </div><!-- end container -->
      </section><!-- Section End -->
      {% include footer.html %}
    </div><!-- Wrapper End -->
    {% include js.html %}
  </body>
</html>
